﻿@model IEnumerable<PRC.Models.PRC_PRC_REPORT_PROC_Result>
@{
    ViewBag.Title = "PRC Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "PRC Report";
}
@{
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("PRCReport", "MISReports", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card card-default card-outline">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("From Date")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="FromDate" autocomplete="off" id="FromDate" class="form-control CustomDatePicker" placeholder="Select Start Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("To Date")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="ToDate" autocomplete="off" id="ToDate" class="form-control CustomDatePicker" placeholder="Select End Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("Client Name")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="ClientName" autocomplete="off" id="ClientName" class="form-control" placeholder="Enter Client Name" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("Account Number")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="AccountNo" autocomplete="off" id="AccountNo" class="form-control" placeholder="Enter Account Number" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("PRC Number")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="PRCNumber" autocomplete="off" id="PRCNumber" class="form-control" placeholder="Enter PRC Number" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("Bank Ref No")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="BankRefNo" autocomplete="off" id="BankRefNo" class="form-control" placeholder="Enter Bank Reference Number" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"> </i> Fetch</button>
                </div>
            </div>
        </div>
    </div>
}
@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card card-default card-outline">
                <div class="card-body">
                    <table id="Reporting" class="table table-bordered text-center table-hover">
                        <thead class="citi-table-head">
                            <tr>
                                <th>
                                    @Html.Label("e-PRC No")
                                </th>
                                <th>
                                    @Html.Label("Month")
                                </th>
                                <th>
                                    @Html.Label("Date of e-PRC")
                                </th>
                                <th>
                                    @Html.Label("Remitter's Name")
                                </th>
                                <th>
                                    @Html.Label("NICOP/ Passport No/ CNIC/ POC / Entity Registration No/ Any other Unique ID")
                                </th>
                                <th>
                                    @Html.Label("IBAN/ Bank")
                                </th>
                                <th>
                                    @Html.Label("Name of Remitting (originating) Financial Institution")
                                </th>
                                <th>
                                    @Html.Label("Name of Country")
                                </th>
                                <th>
                                    @Html.Label("Beneficiary's Name")
                                </th>
                                <th>
                                    @Html.Label("NICOP/ CNIC/ POC/ Passport No/ NTN")
                                </th>
                                <th>
                                    @Html.Label("Name of the Bank")
                                </th>
                                <th>
                                    @Html.Label("IBAN/ Bank Account No")
                                </th>
                                <th>
                                    @Html.Label("Country Code (as per ITRS)")
                                </th>
                                <th>
                                    @Html.Label("Date of Realization of Proceeds")
                                </th>
                                <th>
                                    @Html.Label("Amount of Remittance (in FCY)*")
                                </th>
                                <th>
                                    @Html.Label("Rate of Conversion*")
                                </th>
                                <th>
                                    @Html.Label("Amount of Remittance (in PKR)")
                                </th>
                                <th>
                                    @Html.Label("Purpose of Remittance")
                                </th>
                                <th>
                                    @Html.Label("Purpose Code (as per ITRS)")
                                </th>
                                <th>
                                    @Html.Label("Transaction Reference No")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_PRC_NUMBER) 
                                    </td>
                                    <td>
                                        @{ 
                                            string TransMonth = item.GPD_TRNSDATE.Value.ToString("MMMM");
                                        }
                                        <p>@TransMonth</p>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_UPLOAD_DATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_CLIENT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_CUSTOMER_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_BY_ORDER_IBAN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_REMITTING_INSTITUTION)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_BY_ORDER_COUNTRY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_CUSTOMER_NAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_BENE_NTN)
                                    </td>
                                    <td>
                                        <p>CITIBANK N.A. AWT PLAZA, KARACHI</p>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_ACCOUNT_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_CCODE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_TRNSDATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_AMOUNT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_RATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_LCYAMOUNT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_PURPOSE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_PCODE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GPD_BANKREFNO)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <h2 style="background-color:black; text-align:center">No Data Found</h2>
        }
    }
}