﻿@model IEnumerable<PRC.Models.PRC_CLIENT_ePRC_sPRC_REQUEST_LOG_Result>
@{
    ViewBag.Title = "Client Request Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Client Request Report";
}
@{
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("RequestLog", "MISReports", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card card-default card-outline">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("From Date")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="FromDate" autocomplete="off" id="FromDate" class="form-control CustomDatePicker" placeholder="Select Start Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("To Date")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="ToDate" autocomplete="off" id="ToDate" class="form-control CustomDatePicker" placeholder="Select End Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("Client Email")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="ClientEmail" autocomplete="off" id="ClientEmail" class="form-control" placeholder="Enter Client Email" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card card-default card-outline">
                <div class="card-body">
                    <table id="Reporting" class="table table-bordered text-center table-hover">
                        <thead class="citi-table-head">
                            <tr>
                                <th>
                                    @Html.Label("Request Id")
                                </th>
                                <th>
                                    @Html.Label("Client Email")
                                </th>
                                <th>
                                    @Html.Label("From Date")
                                </th>
                                <th>
                                    @Html.Label("From Date")
                                </th>
                                <th>
                                    @Html.Label("Is Success")
                                </th>
                                <th>
                                    @Html.Label("Response")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PRL_REQUEST_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PRL_CLIENT_EMAIL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PRL_FROM_DATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PRL_TO_DATE)
                                    </td>
                                    <td>
                                        @if (item.PRL_IS_SUCCESS == true)
                                        {
                                            <p class="badge badge-success badge-font">Success</p>
                                        }
                                        else
                                        {
                                            <p class="badge badge-danger badge-font">Fail</p>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PRL_RESPONSE)
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot class="citi-table-head">
                            <tr>
                                <th>
                                    @Html.Label("Request Id")
                                </th>
                                <th>
                                    @Html.Label("Client Email")
                                </th>
                                <th>
                                    @Html.Label("From Date")
                                </th>
                                <th>
                                    @Html.Label("From Date")
                                </th>
                                <th>
                                    @Html.Label("Is Success")
                                </th>
                                <th>
                                    @Html.Label("Response")
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
        else
        {
            <h2 style="background-color:black; text-align:center">No Data Found</h2>
        }
    }
}