﻿@model IEnumerable<PRC.Models.PRC_VERIFICATION_AUTHORITY_PROC_Result>
@{
    ViewBag.Title = "Verification Authority";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Verification Authority";
}
@{
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("VerificationAuthority", "MISReports", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card card-default card-outline">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("From Date")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="FromDate" autocomplete="off" id="FromDate" class="form-control CustomDatePicker" placeholder="Select Start Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("To Date")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="ToDate" autocomplete="off" id="ToDate" class="form-control CustomDatePicker" placeholder="Select End Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("Officer Name")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="OfficerName" autocomplete="off" id="OfficerName" class="form-control" placeholder="Enter Officer Name" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("CNIC Number")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="CNIC_NO" autocomplete="off" id="CNIC_NO" class="form-control" placeholder="Enter CNIC Number" />
                                    <span class="text-blue">Example : 00000-0000000-0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("PRC / S-PRC #")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="PRCNumber" autocomplete="off" id="PRCNumber" class="form-control" placeholder="Enter PRC Number" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @*<div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("Bank Ref No")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="BankRefNo" autocomplete="off" id="BankRefNo" class="form-control" placeholder="Enter Bank Reference Number" />
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"> </i> Fetch</button>
                </div>
            </div>
        </div>
    </div>
}
@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card card-default card-outline">
                <div class="card-body">
                    <table id="Reporting" class="table table-bordered text-center table-hover">
                        <thead class="citi-table-head">
                            <tr>
                                <th>
                                    @Html.Label("Name Of Verifying Officer")
                                </th>
                                <th>
                                    @Html.Label("CNIC No")
                                </th>
                                <th>
                                    @Html.Label("Email Address")
                                </th>
                                <th>
                                    @Html.Label("Name of Verifying Agency")
                                </th>
                                <th>
                                    @Html.Label("Department/Field Formation")
                                </th>
                                <th>
                                    @Html.Label("Purpose of Verification")
                                </th>
                                <th>
                                    @Html.Label("e-PRC/s-PRC Unique ID No")
                                </th>
                                <th>
                                    @Html.Label("Date of Issuance")
                                </th>
                                <th>
                                    @Html.Label("Amount (in PKR)")
                                </th>
                                <th>
                                    @Html.Label("Requested for")
                                </th>
                                <th>
                                    @Html.Label("Request Date")
                                </th>
                                <th>
                                    @Html.Label("ePRC Issued Date")
                                </th>
                                <th>
                                    @Html.Label("S-PRC Issued Date")
                                </th>
                                <th>
                                    @Html.Label("Status")
                                </th>
                                <th>
                                    @Html.Label("Response")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PERL_OFFICER_NAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PERL_CNIC_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PERL_EMAIL_ADDRESS)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PERL_AGENCY_NAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PERL_DEPARTMENT_NAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PERL_VERIFICATION_PURPOSE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PERL_UNIQUE_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PERL_DATE_OF_ISSUE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PERL_AMOUNT)
                                    </td>
                                    <td>
                                        <p class="badge badge-primary badge-font">@item.PERL_REQUEST_TYPE</p>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PERL_REQUESTED_DATE)
                                    </td>
                                    <td>
                                        @if (item.PERL_REQUEST_TYPE == "ePRC")
                                        {
                                            <p>@item.PERL_REQUESTED_DATE</p>
                                        }
                                        else
                                        {
                                            <p class="badge badge-danger badge-font">N/A</p>
                                        }
                                    </td>
                                    <td>
                                        @if (item.PERL_REQUEST_TYPE == "sPRC")
                                        {
                                            <p>@item.PERL_REQUESTED_DATE</p>
                                        }
                                        else
                                        {
                                            <p class="badge badge-danger badge-font">N/A</p>
                                        }
                                    </td>
                                    <td>
                                        @if (item.PERL_IS_SUCCESS == true)
                                        {
                                            <p class="badge badge-success badge-font">Success</p>
                                        }
                                        else
                                        {
                                            <p class="badge badge-danger badge-font">Fail</p>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PERL_RESPONSE)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <h2 style="background-color:black; text-align:center">No Data Found</h2>
        }
    }
}