﻿@model PRC.Models.TestingInputs
@{
    ViewBag.Title = "PRC Upload";
    ViewBag.Controller = "Home";
    ViewBag.Action = "PRC Upload";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @Html.Raw(ViewBag.message)
        </div>
    }

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Upload <b>PRC</b> </h3>
            <div class="card-tools">

                @using (Html.BeginForm("UploadPRC", "PRC", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input class="btn btn-outline-primary" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required name="PostedFile" />

                    <input class="btn btn-outline-primary" type="submit" value="Start Process" />
                }
            </div>
        </div>
    </div>

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Update <b>PRC P-Code & C-Code</b> </h3>
            <div class="card-tools">

                @using (Html.BeginForm("UploadPRCReference", "PRC", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input class="btn btn-outline-primary" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required name="PostedFile" />

                    <input class="btn btn-outline-primary" type="submit" value="Start Process" />
                }
            </div>
        </div>
    </div>

    using (Html.BeginForm("ManReq", "PRC", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="card card-primary card-outline">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.Label("From Date")
                                    </div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.InputParams.FromDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @placeholder = "mm/dd/yyyy", @autocomplete = "off" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.Label("To Date")
                                    </div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.InputParams.ToDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @placeholder = "mm/dd/yyyy", @autocomplete = "off" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.Label("Account Number")
                                    </div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.InputParams.AccountNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Account Number", @autocomplete = "off" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.Label("PRC Number")
                                    </div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.InputParams.PRCNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter PRC Number", @autocomplete = "off" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.Label("Trans Ref No")
                                    </div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.InputParams.TransReference, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Transaction Reference Number", @autocomplete = "off" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.Label("Filter Type")
                                    </div>
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.InputParams.SearchFilter, new List<SelectListItem>
                                { new SelectListItem{Text="All", Value="All"},
                                 new SelectListItem{Text="Authorize", Value="Authorize"},
                                   new SelectListItem{Text="Unauthorize", Value="Unauthorize"}}, "--Select Filter--", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.InputParams.SearchFilter, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.Label("Online Verification Of:")
                                </div>
                                <div class="col-md-3">
                                    @Html.CheckBoxFor(m => m.InputParams.ePRC, new { @checked = "true" })
                                    @Html.Label("e-PRC")
                                </div>
                                <div class="col-md-3">
                                    @Html.CheckBoxFor(m => m.InputParams.sPRC)
                                    @Html.Label("S-PRC")
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("")
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.PaymentType, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit" id="InputParams_BtnSubmit" name="InputParams.BtnSubmit" value="BtnRefresh" class="btn btn-outline-primary float-right btn-sm"> <span class="fas fa-search"></span> Search</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" id="InputParams_BtnSubmit" name="InputParams.BtnSubmit" value="BtnEmail" class="btn btn-outline-primary float-left btn-sm"> <span class="fas fa-mail-bulk"></span> Send Email</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div>
        @{
            if (Model != null)
            {
                Html.RenderAction("ManReqView", "PRC", new { FromDate = Model.InputParams.FromDate, ToDate = Model.InputParams.ToDate, AccountNo = Model.InputParams.AccountNo });
            }
            else
            {
                Html.RenderAction("ManReqView", "PRC");
            }
        }
    </div>
}