﻿@model IEnumerable<PRC.Models.PRC_SEND_EMAIL_WITH_PRC_Result>

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card">
                <div class="card-header citi-table-head">
                    <h3 class="card-title">List Of Uploaded PRCs</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.Case Form Start -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered text-center table-hover table-responsive">
                        <thead class="citi-table-head">
                            <tr>
                                <th></th>
                                <th>Action</th>
                                <th>e-PRC</th>
                                <th>S-PRC</th>
                                <th>PRC Number</th>
                                <th>Client</th>
                                <th>Trans Date</th>
                                <th>CCY</th>
                                <th>Amount</th>
                                <th>Purpose</th>
                                <th>By Order Country</th>
                                <th>Page No</th>
                                <th>S-No</th>
                                <th>P-Code</th>
                                <th>C-Code</th>
                                <th>Bank Ref No</th>
                                <th>Rate</th>
                                <th>LCY Amount</th>
                                <th>Customer No</th>
                                <th>Customer Name</th>
                                <th>Account No</th>
                                <th>Account Name</th>
                                <th>By Order CNIC</th>
                                <th>By Order IBAN</th>
                                <th>By Order IBAN Country</th>
                                <th>Remitting Institution</th>
                                <th>Bene NTN</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td></td>
                                <td>
                                    @if (item.GPD_ISAUTH == false)
                                    {
                                        <button type="button" value="@item.GPD_ID" name="AuthroizeMUC" data-toggle="tooltip" title="Authorize @item.GPD_CUSTOMER_NAME" class="btn btn-outline-success btn-sm">
                                            <span class="fas fa-check"></span>
                                        </button>
                                        <button type="button" value="@item.GPD_ID" name="RejectMUC" data-toggle="tooltip" title="Reject @item.GPD_CUSTOMER_NAME" class="btn btn-outline-danger btn-sm">
                                            <span class="fas fa-times"></span>
                                        </button>
                                    }
                                    else if (item.GPD_ISAUTH == true)
                                    {
                                        <span data-toggle="tooltip" title="Verified" class="fas fa-check"></span>
                                    }
                                </td>
                                <td>
                                    @if (item.GPD_ISAUTH == false)
                                    {
                                        <a href="@Url.Action("ViewPRC", "PRC", new { PRC_ID = item.GPD_ID, FileType = "ePRC" })"
                                           data-toggle="tooltip" title="Print e-PRC @Html.DisplayFor(modelItem => item.GPD_ACCOUNT_NO)" class="btn btn-outline-danger btn-sm disabled">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ViewPRC", "PRC", new { PRC_ID = item.GPD_ID, FileType = "ePRC" })"
                                           data-toggle="tooltip" title="Print e-PRC @Html.DisplayFor(modelItem => item.GPD_ACCOUNT_NO)" class="btn btn-outline-danger btn-sm">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    }
                                </td>
                                <td>
                                    @if (item.GPD_ISAUTH == false)
                                    {
                                        <a href="@Url.Action("ViewPRC", "PRC", new { PRC_ID = item.GPD_ID,FileType = "sPRC" })"
                                           data-toggle="tooltip" title="Print S-PRC @Html.DisplayFor(modelItem => item.GPD_ACCOUNT_NO)" class="btn btn-outline-danger btn-sm disabled">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ViewPRC", "PRC", new { PRC_ID = item.GPD_ID,FileType = "sPRC" })"
                                           data-toggle="tooltip" title="Print S-PRC @Html.DisplayFor(modelItem => item.GPD_ACCOUNT_NO)" class="btn btn-outline-danger btn-sm">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_PRC_NUMBER)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_CLIENT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_TRNSDATE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_CCY)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_AMOUNT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_PURPOSE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_BY_ORDER_COUNTRY)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_PAGE_NO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_SNO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_PCODE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_CCODE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_BANKREFNO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_RATE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_LCYAMOUNT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_CUSTOMER_NO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_CUSTOMER_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_ACCOUNT_NO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_ACCOUNT_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_BY_ORDER_CNIC)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_BY_ORDER_IBAN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_BY_ORDER_IBAN_COUNTRY)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_REMITTING_INSTITUTION)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GPD_BENE_NTN)
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot class="citi-table-head">
                            <tr>
                                <th></th>
                                <th>Action</th>
                                <th>e-PRC</th>
                                <th>S-PRC</th>
                                <th>PRC Number</th>
                                <th>Client</th>
                                <th>Trans Date</th>
                                <th>CCY</th>
                                <th>Amount</th>
                                <th>Purpose</th>
                                <th>By Order Country</th>
                                <th>Page No</th>
                                <th>S-No</th>
                                <th>P-Code</th>
                                <th>C-Code</th>
                                <th>Bank Ref No</th>
                                <th>Rate</th>
                                <th>LCY Amount</th>
                                <th>Customer No</th>
                                <th>Customer Name</th>
                                <th>Account No</th>
                                <th>Account Name</th>
                                <th>By Order CNIC</th>
                                <th>By Order IBAN</th>
                                <th>By Order IBAN Country</th>
                                <th>Remitting Institution</th>
                                <th>Bene NTN</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
    }
}

