﻿@model IEnumerable<PRC.Models.PRC_AUTO_EMAILING>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <div class="card-body">
            <table id="example2" class="table table-bordered text-center table-hover">
                <thead class="citi-table-head">
                    <tr>
                        <th>@Html.Label("Action")</th>
                        <th>@Html.Label("Execution Date")</th>
                        <th>@Html.Label("From Date")</th>
                        <th>@Html.Label("To Date")</th>
                        <th>@Html.Label("Email Status")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("SystemSetting", "Setup", new { AE = item.PAE_ID })" class="btn btn-outline-primary btn-sm">Edit</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PAE_EXECUTION_DATE_N_MONTH)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PAE_DATA_RANGE_FROM_DATE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PAE_DATA_RANGE_TO)
                            </td>
                            <td>
                                @{
                                    if (item.PAE_STATUS == true)
                                    {
                                        <p class="badge badge-success badge-font">Email Sent</p>
                                    }
                                    else
                                    {
                                        <p class="badge badge-danger badge-font">Pending</p>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}