﻿@model IEnumerable<PRC.Models.PRC_DEPARTMENT>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <div class="card">
            <div class="card-header citi-table-head">
                <h3 class="card-title">Department List</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered text-center table-hover">
                    <thead class="citi-table-head">
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PD_NAME)
                                </td>
                                <td>
                                    @if (item.PD_STATUS == true)
                                    {
                                        <p class="badge badge-success badge-font">Active</p>
                                    }
                                    else
                                    {
                                        <p class="badge badge-danger badge-font">Deactive</p>
                                    }
                                </td>
                                <td>
                                    @{
                                        if (item.PD_ISAUTH == true)
                                        {
                                            <a href="@Url.Action("Department", "Setup", new { D = item.PD_ID })" class="btn btn-outline-primary btn-sm">Edit</a>
                                        }
                                        if (item.PD_MAKER_ID != Session["USER_ID"].ToString() && item.PD_ISAUTH == false)
                                        {
                                            <button type="button" value="@item.PD_ID" name="AuthorizeDepartment" data-toggle="tooltip" title="Authorize @item.PD_NAME" class="btn btn-outline-success btn-sm">
                                                <span class="fas fa-check"></span>
                                            </button>
                                            <button type="button" value="@item.PD_ID" name="RejectDepartment" data-toggle="tooltip" title="Reject @item.PD_NAME" class="btn btn-outline-danger btn-sm">
                                                <span class="fas fa-times"></span>
                                            </button>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
