﻿@model IEnumerable<PRC.Models.PRC_SYSYTEM_SETUP>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <div class="card-body">
            <table id="example1" class="table table-bordered text-center table-hover">
                <thead class="citi-table-head">
                    <tr>
                        <th></th>
                        <th>@Html.Label("Action")</th>
                        <th>@Html.Label("GCAR API Url")</th>
                        <th>@Html.Label("Logout Url (Citi Direct)")</th>
                        <th>@Html.Label("Change Password Url (Citi Direct)")</th>
                        <th>@Html.Label("Logout Url (Citi Velocity)")</th>
                        <th>@Html.Label("Change Password Url (Citi Velocity)")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                            <td>
                                @{
                                    if (item.PSS_ISAUTH == true)
                                    {
                                        <a href="@Url.Action("SystemSetting", "Setup", new { S = item.PSS_ID })" class="btn btn-outline-primary btn-sm">Edit</a>
                                    }
                                    if (item.PSS_MAKER_ID != Session["USER_ID"].ToString() && item.PSS_ISAUTH == false)
                                    {
                                        <button type="button" value="@item.PSS_ID" name="AuthorizeSystemSetting" data-toggle="tooltip" title="Authorize record" class="btn btn-outline-success btn-sm">
                                            <span class="fas fa-check"></span>
                                        </button>
                                        <button type="button" value="@item.PSS_ID" name="RejectSystemSetting" data-toggle="tooltip" title="Reject record" class="btn btn-outline-danger btn-sm">
                                            <span class="fas fa-times"></span>
                                        </button>
                                    }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PSS_GCAR_API_URL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PSS_LOGOUT_CITI_DIRECT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PSS_CHANGE_PASSWORD_CITI_DIRECT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PSS_LOGOUT_CITI_VELOCITY)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PSS_CHANGE_PASSWORD_CITI_VELOCITY)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}