﻿@model PRC.Models.TestingInputs
@{
    ViewBag.Title = "System Setting";
    ViewBag.Controller = "Home";
    ViewBag.Action = "System Setting";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("SystemSetting", "Setup", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SettingParms.PSS_ID)

    <div class="card">
        <div class="card-header citi-table-head">
            <h3 class="card-title">System Setting</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("GCAR API Url")
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.SettingParms.PSS_GCAR_API_URL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter GCAR API Url", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.SettingParms.PSS_GCAR_API_URL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group has-feedback">
                        @Html.Label("GCAR Certificate Hash")
                        <div class="col-md-12">
                            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                @Html.EditorFor(model => model.SettingParms.PSS_GCAR_CERT_HASH, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Enter GCAR Certificate Hash", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.SettingParms.PSS_GCAR_CERT_HASH, "", new { @class = "text-danger" })
                                <div class="input-group-append">
                                    <div class="input-group-text"><i id="showhidepass" class="fas fa-eye-slash"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("PRC Logout Url (Citi Direct)")
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.SettingParms.PSS_LOGOUT_CITI_DIRECT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter PRC Logout Url (Citi Direct)", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.SettingParms.PSS_LOGOUT_CITI_DIRECT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("PRC Change Password Url (Citi Direct)")
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.SettingParms.PSS_CHANGE_PASSWORD_CITI_DIRECT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter PRC Change Password Url (Citi Direct)", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.SettingParms.PSS_CHANGE_PASSWORD_CITI_DIRECT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("PRC Logout Url (Citi Velocity)")
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.SettingParms.PSS_LOGOUT_CITI_VELOCITY, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter PRC Logout Url (Citi Velocity)", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.SettingParms.PSS_LOGOUT_CITI_VELOCITY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("PRC Change Password Url (Citi Velocity)")
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.SettingParms.PSS_CHANGE_PASSWORD_CITI_VELOCITY, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter PRC Change Password Url (Citi Velocity)", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.SettingParms.PSS_CHANGE_PASSWORD_CITI_VELOCITY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-outline-primary btn-sm" />
                </div>
            </div>
            <hr />
            <div>
                @{
                    Html.RenderAction("SystemSettingView", "Setup");
                }
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("ManReq", "Setup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="card">
        <div class="card-header citi-table-head">
            <h3 class="card-title">GCAR (Testing)</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Unique Reference")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.GCARParams.UNIQUE_REF, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Unique Reference" } })
                            @Html.ValidationMessageFor(model => model.GCARParams.UNIQUE_REF, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Client Id")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.GCARParams.CLIENT_ID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Client Id" } })
                            @Html.ValidationMessageFor(model => model.GCARParams.CLIENT_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("IBAN/Account No")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.GCARParams.IBAN_ACCTNO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter IBAN/Account Number" } })
                            @Html.ValidationMessageFor(model => model.GCARParams.IBAN_ACCTNO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("API URL")
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.GCARParams.URL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter URL" } })
                                @Html.ValidationMessageFor(model => model.GCARParams.URL, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Hash / Password For Certificate")
                            <div class="col-md-10">
                                <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                    @Html.EditorFor(model => model.GCARParams.PassHash, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Enter Password For Certificate File" } })
                                    @Html.ValidationMessageFor(model => model.GCARParams.PassHash, "", new { @class = "text-danger" })
                                    <div class="input-group-append">
                                        <div class="input-group-text"><i id="passtoggle" class="fas fa-eye-slash"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Send Request (With Cetificate)" class="btn btn-outline-primary btn-sm" />
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("AutoEmailing", "Setup", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.AutoEmailing.PAE_ID)

    <div class="card">
        <div class="card-header citi-table-head">
            <h3 class="card-title">Auto Emailing</h3>
            <div class="card-tools">
                <a href="@Url.Action("SystemSetting", "Setup")" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Add New</a>
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Execution Date")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AutoEmailing.PAE_EXECUTION_DATE_N_MONTH, new { htmlAttributes = new { @class = "form-control", @placeholder = "mm/dd", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.AutoEmailing.PAE_EXECUTION_DATE_N_MONTH, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("From Date")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AutoEmailing.PAE_DATA_RANGE_FROM_DATE, new { htmlAttributes = new { @class = "form-control", @placeholder = "mm/dd", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.AutoEmailing.PAE_DATA_RANGE_FROM_DATE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("To Date")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AutoEmailing.PAE_DATA_RANGE_TO, new { htmlAttributes = new { @class = "form-control", @placeholder = "mm/dd", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.AutoEmailing.PAE_DATA_RANGE_TO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-outline-primary btn-sm" />
                </div>
            </div>
            <hr />
            <div>
                @{
                    Html.RenderAction("AutoEmailingView", "Setup");
                }
            </div>
        </div>
    </div>
}