﻿@model IEnumerable<PRC.Models.PRC_CLIENT_PORTFOLIO>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <div class="card">
            <div class="card-header citi-table-head">
                <h3 class="card-title">Client List</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered text-center table-hover">
                    <thead class="citi-table-head">
                        <tr>
                            <th>Action</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact No#</th>
                            <th>IBAN</th>
                            <th>NTN</th>
                            <th>Party Id</th>
                            <th>Notification Email</th>
                            <th>Status</th>
                            <th>Sent Auto Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @{
                                    if (item.PCP_ISAUTH == true)
                                    {
                                        <a href="@Url.Action("Index", "ClientProfile", new { CP = item.PCP_ID })" class="btn btn-outline-primary btn-sm">Edit</a>
                                    }
                                    if (item.PCP_MAKER_ID != Session["USER_ID"].ToString() && item.PCP_ISAUTH == false)
                                    {
                                        <button type="button" value="@item.PCP_ID" name="AuthorizeClient" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.PCP_NAME)" class="btn btn-outline-success btn-sm">
                                            <span class="fas fa-check"></span>
                                        </button>
                                        <button type="button" value="@item.PCP_ID" name="DeleteFromAuthorizeClient" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.PCP_NAME)" class="btn btn-outline-danger btn-sm">
                                            <span class="fas fa-times"></span>
                                        </button>
                                    }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PCP_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PCP_EMAIL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PCP_CONTACT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PCP_IBAN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PCP_NTN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PCP_PARTY_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PCP_NOTIFICATION_EMAIL)
                            </td>
                            <td>
                                @if (item.PCP_STATUS == "Active")
                                {
                                    <p class="badge badge-success badge-font">Active</p>
                                }
                                else
                                {
                                    <p class="badge badge-danger badge-font">Deactive</p>
                                }
                            </td>
                            <td>
                                @if (item.PCP_SENT_AUTO_EMAILING == "Enable")
                                {
                                    <p class="badge badge-success badge-font">Enable</p>
                                }
                                else
                                {
                                    <p class="badge badge-danger badge-font">Disable</p>
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                    <tfoot class="citi-table-head">
                        <tr>
                            <th>Action</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact No#</th>
                            <th>IBAN</th>
                            <th>NTN</th>
                            <th>Party Id</th>
                            <th>Notification Email</th>
                            <th>Status</th>
                            <th>Sent Auto Email</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    }
}

